---
---

$themeColor: #a271b8;        // Lavender highlight
$primaryDark: #2c003e;       // Dark purple terminal background
$accentDark: #ffffff;        // White text
$lightGray: #f7f7f7;
$texts: #e6e6e6;

@import "jekflix";
